body { 
    background-color: #89ABE3FF;
    color: #F95700FF;
}
.link { 
    color: #F95700FF; 
}
.link:hover { 
    color: #F95700FF;
}

.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 900px;
  font-family: Oswald;
  font-size: 20px;
}
h1{
text-align: center;
text-decoration: underline;
text-decoration: bold;
color: #FCF6F5FF;
}